{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Sneakers</title>
        <link type="text/css" href="{% static 'style.css' %}" rel="stylesheet">
    </head>
     <body>
        <nav class="nav">
            <a class="brand" href="#">TP PHP</a>
            <ul class="nav__list">
                <li><a href ="#" class="list-items">Contact</a></li>
                <li><a href ="#" class="list-items">About</a></li>
                <li><a href ="#" class="list-items">Contact</a></li>
            </ul>
        </nav>
         <h1 class="titre">Programmationpython</h1>
         <h1 class="sous-titre">Python</h1>
    </body>
</html>